
.cardButton:focus{
  background-color: #85a3ba;
  border-radius: 40px;
}
.cardButton{
  padding: 20px 0px 20px 10px;
  transition: all ease-in-out 0.2s;
  max-width: 80%;
}


/* .circle-text{
  animation-name: circletext;
  animation-duration: 5s;
  transition: all ease-in-out 1.5s;
  animation-timing-function: inherit;
  animation-iteration-count: infinite;
  padding: 30px;
  font-size: 10px;
  width: 30%;
  margin-right: auto;
  color: white;
  margin-left: auto;
  border: 10px solid white;
    border-radius: 50%;
} */
@media screen and (max-width: 900px) {
  .circle-text{
    border: none;
    animation: none;
    padding: 0;
    width: 50%;
  }
}
@keyframes circletext {
  0% {
    border: 10px solid transparent;
  }
  50% {
    border: 10px solid rgb(12, 48, 157);
  }
  75% {
    border: 10px solid black;
  }
  100% {
    border: 10px solid transparent;
    }
}


.testimonial:hover{
  scale: 1;
  overflow: visible;
  transition-duration: 1s;
  transform: rotateZ(-5deg);
  border: 2px solid #487410;
  .cardlogo{
    transform: scale(1.5);
    transition: all ease 0.5s;
  }
}
nav {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

/* Optional: Add a shadow effect to enhance the sticky effect */
nav.bg-gray-700 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.shadowpic{
  filter: drop-shadow(0px 0px 1px white);
}
button{
}

button:hover{
  background-color: transparent;
  border: 1px solid rgb(34, 139, 188);
  color: rgb(82, 131, 157);
  transition: all ease-in-out 1s;
  transition: all ease 0.2s;
  scale: 1.1;
  font-weight: 700;
  /* animation-name: buttonanim;
  animation-duration: 1s; */
}

@keyframes buttonanim {
  0% {
    background-color: black;
  }
}


 
.headlogo{
  animation-name: example;
  animation-duration: 1s;
  position: absolute;
  top: -60px;
}
.logodiv{
  position: relative;
  animation-name: divfloat;
  animation-duration: 1s;
}
.headlogo:hover{
  scale: 1.2;
  transition: all ease 0.3s;
}
@keyframes example {
  0% {
    top: 10px;
    width: 34px;
  }
}
@keyframes divfloat {
  0% {
    margin-top: 100px;
  }
}
.heroheading{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  line-height: 65px;
}
@media only screen and (max-width: 765px) {
  .heroheading{
    line-height: 35px;
  }
  
}
.mainheading{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  line-height: 40px;
}
.card1{
  background-size: 128px;
  background-repeat: repeat;
  border-radius: 0;
  overflow: hidden;
  border-radius: 30px;
  padding: 50px 20px 20px 100px;
  background-image: url('https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png');
  background: linear-gradient(to right, #37525f , #7c8a8e);
}
.card2{
  background-size: 128px;
  background-repeat: repeat;
  border-radius: 0;
  overflow: hidden;
  border-radius: 30px;
  padding: 50px 20px 20px 100px;
  background-image: url('https://framerusercontent.com/images/YAfBNcJrzSMGkcAcvQuFANAAqG0.png?scale-down-to=1024');
  background: linear-gradient(to right, #2f5b57 , #14385d);
}
.card3{
  background-size: 128px;
  background-repeat: repeat;
  border-radius: 0;
  overflow: hidden;
  border-radius: 30px;
  padding: 50px 20px 20px 100px;
  background-image: url('https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png');
  background: linear-gradient(to right, #688582 , #043b5e);
}
.card4{
  background-size: 128px;
  background-repeat: repeat;
  border-radius: 0;
  overflow: hidden;
  border-radius: 30px;
  padding: 50px 0px 20px 100px;
  background-image: url('https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png');
  background: linear-gradient(to right , #142a34, #6f9c99);
}
/* .footer{
    background: linear-gradient(to right,  #122d07, #487410 );
    box-shadow: 0px 0px 20px black;
} */

.footer{
  background: linear-gradient(to right,  #36668b, #03283f );
  box-shadow: 0px 0px 20px black;
}

.linkShadow{
  filter: drop-shadow(0px 0px 5px white);
  color: black;
}

/* hero.css
.hero {
  position: relative;
  background-image: url('../assets/giphy.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
} */

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.315);
  z-index: 0;
}

.hero > * {
  position: relative;
  z-index: 2;
}


.hero h1 {
  font-size: 2.5rem; /* Adjust font size for smaller screens */
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
}


#text{
  filter: drop-shadow(0px 0px 50px black);
}


body{
  max-width: 1550px;
  margin: 0 auto;
}

.background-video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust as needed */
  overflow: hidden;
  pointer-events: none;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}


.gradientText{
  background: linear-gradient(to right, #d1d8de, #3182a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navlinks{
  border: none;
  position: relative;
}
.navlinks:hover{
  border: none;
  color: white;

}

.navlinks::after{
  content: '';
  width: 0%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0;
  transition: all ease 0.5s;
  left: 0;
}
.navlinks:hover::after{
  width: 100%;
}