body{
    /* background: linear-gradient(to right, #011103 , #063203); */
    /* background: linear-gradient(to right, #3d475b,  #131f2c); */
    /* background-image: url('./assets/bgimg.png');
    background-repeat: no-repeat;
    background-size: contain; */
}

.scrollable {
    overflow-y: auto;
  }
  
  .no-scroll {
    overflow-y: hidden;
  }
  